    .flexContainer{

        display: flex;
        justify-content: space-between;
        width: 1444px;
        /* border: 1px solid red; */
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
    .textArea{
        /* background-color: orange; */
        width: 380px;
        /* height: 74px; */
        /* border: 1px solid darkblue; */
    }

    .textArea p{

        margin-top: 11px;
        color: #424242;
        /* font-family: Inter; */
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;

    }

    .GetInTouchDiv h1,.quickLinks h1,.supportHeading{
        color: #006E5E;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        /* border: 1px solid black; */
    }

    .quickLinkstUl{
        color: #424242;
        /* font-family: Inter; */
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #424242;
        line-height: 40px;
        margin-top: 29px;
        list-style-position: inside;
        width: 96px;
        /* border: 1px solid red; */
    }

    .supportHeadingDiv{

        /* border: 1px solid green; */
    }

    .supportUl{
        margin-top: 29px;
        /* border: 1px solid black ; */
        width: 197px;
    }

    .supportUl li{

        list-style-position: inside;
        color: #424242;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        line-height: 38px;
    }

    .GetInTouchDiv{

        /* border: 1px solid darkolivegreen; */
        margin-right: 25px;
        width: 238px;
    }

    .iconHolder{
        margin-top: 10px;
        /* border: 1px solid black; */
    }

    .iconDiv{
        position: relative;
        margin-top: 18px; 
        /* border: 1px solid red; */
    }
    .phone{
        position: absolute;
        margin-top: 5px;
    }
    .phone2{
        position: absolute;
        margin-left: 5px;
        margin-left: 10px;
        margin-top: 16px;
    }
    .paragraph{
        /* border: 1px solid purple; */
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #424242;
        line-height: 24px;
        margin-left:40px;
    }

@media (max-width:600px){

    .flexContainer{
        flex-direction: column;
        width: 95%;
        margin-top: 48px;
    }

    .textArea{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        /* border: 1px solid red; */
    }


    .quickLinks{
        margin-top: 51px;
        /* border: 1px solid black; */
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    .quickLinkstUl{
        /* border: 1px solid purple; */
        margin-top: 16px;
    }

    .supportHeadingDiv{
        margin-top: 22px;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        /* border: 1px solid black; */
    }

    .supportUl{

        /* border: 1px solid red; */
        margin-top: 17px;

    }

    .GetInTouchDiv{
        /* border: 1px solid red; */
        margin-top: 28px;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        /* border: 1px solid black; */
    }

    .GetInTouchDiv h1{
        /* border: 1px solid red; */
    }

    .iconHolder{
        /* border: 1px solid red; */
        /* margin-top: 18px; */
        /* margin-top: 28px; */

    }

    .iconDiv{
        /* border: 1px solid green; */
    }

    .paragraph{
        margin-left: 50px;
        /* border: 1px solid red; */
    }

    .phone{ 
        margin-top: 5px;
        /* border: 1px solid green; */
    } 

    .phone2{
        /* border: 1px solid green; */
        margin-top: 15px;
    }
}