.searchArea{
    width: 100%;
    height: 120px;
    background: linear-gradient(0deg, #006E5E 0%, #019D87 100%);
    
}

.staysDiv{
    padding-top: 31px;
    text-align: center;
}

.stays{
    color: #FEBE43;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.experiences{
    margin-left: 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 28px;
}

.searchBox{

    border: 1px solid #E0E0E0;
    background: #FFF;
    width: 1200px;
    height: 80px;
    border-radius: 1500px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 26px; */
    display: flex  ;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: space-between;
}

.firstTextBox{
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    height: 40px;
    margin-left: 39px;
}

.textBox{
    padding-bottom: -10px;
    display: inline-block;
    padding-top: 16px;
    margin-left: 10px;
}

.whereTo{
    color: #9E9E9E;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    display: inline-block;
}

.karachiPakistan{
    color: #424242;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}

.secondTextBox{
    border-left: 1px solid #E0E0E0;
    height: 40px;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
}
.datesIcon,.profileIcon{
    margin-left: 10px;
}

.searchDiv{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin-right: 13px;
    background-color: #FEBE43;
}

@media (min-width:600px){
    .settings,.searchIcon,.anyWhere{
        display: none;
    }
}


@media (max-width:600px){
    .searchBox{
            width: 90%;
            height: 50px;
        }
    .secondTextBox,.karachiPakistan,.locationIcon,.searchDiv{
        display: none;
    }

    .anyWhere{
        color: #9E9E9E;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .whereTo{
        color: #424242;
        font-size: 15px;
    }
    .textBox{
        padding-bottom: 0;
        padding-top: 0;
    }
    .searchIcon{
        margin-left: 0;
    }
    .firstTextBox{
        margin-left: 15px;
    }
    .settings{
        margin-right: 13px;
    }
}