.header{
    /* border: 1px solid blue; */
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
}

.logo{
    margin-left: 240px;
    margin-top: 25px;
    /* padding-top: 25px; */
    /* margin-bottom: 20px; */
    /* display: inline-block; */
    /* border: 1px solid blue; */
    margin-bottom: 20px;
}

.globeIcon{
    margin-left: 1137px;
    margin-top: 36px;
    margin-bottom: 40px;
    /* display: inline-block; */
    /* border: 1px solid blue; */
   
    /* margin-bottom: 40px; */
}
.signIn{
    /* border: 1px solid blue; */
    /* width: 90px; */
    /* height: 40px; */
    /* display: inline-block; */
    /* border-radius: 100px; */
    /* margin-bottom: 40px; */
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    display: inline-block;
    color: #424242;
/* text-align: right; */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.signInDiv{
    margin-top: 28px;
    margin-bottom: 32px;
    margin-left: 40px;
    border: 1px solid red;
    display: flex;
    align-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #E0E0E0;
    justify-content: center;
}

.searchArea{

    width: 100%;
    height: 200px;
    background: linear-gradient(0deg, #006E5E 0%, #019D87 100%);
}

.staysDiv{
    padding-top: 31px;
}

.stays{
    color: #FEBE43;
    text-align: center;
    /* font-family: 'Inter'; */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 874px;
    margin-top: 20px;
    text-decoration: none;
}

.experiences{
    margin-left: ;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 28px;
}

.searchBox{

    border: 1px solid #E0E0E0;
    background: #FFF;
    width: 1200px;
    height: 80px;
    border-radius: 1500px;
    margin-left: 360px;
    margin-top: 26px;



}

