.filterArea{
    margin-left: 12.25vw; 
    width: 17.60vw ;
    height: auto ;
    margin-top: 3.73vh;
    display: inline-block;
    vertical-align: top;
}

.mapSection{
    width: 17.69vw;
    border: 1px solid #D9D9D9;
    height: auto;
    border-radius: 10px;
}

.mapImage{
    height: auto ;
    width: 17.69vw ; 
}

.mapSectionParagraph{
   
    margin-top:1.296296296vh ;
    margin-bottom: 1.759259259vh; 
    color: #006E5E;
    font-size: 87.5%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.hotelList{
    width: 54.86vw;
    /* background-color: blue; */
    display: inline-block ;
    margin-left: 1.01vw ;
    margin-top: 3.888888889vh ;   
    margin-right: 12.25vw ;
}

.compareProperties{
    margin-top: 1.85vh;
    border: 1px solid #D9D9D9;
    width: 17.96vw;
    height: 5.55vh;
    border-radius: 9.25vh   ;
    text-align: center;
    align-content: center;
}

.compareProperties p{

    color: #424242;
    font-size: 87.5%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.searchText{

    font-size: 150%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 2.77vh;
    /* border: 1px solid red; */
}

.searchInput{
    border: 1px solid #D9D9D9;
    border-radius: 0.92vh;
    width: 17.96875vw;
    height: 5.55vh;
}


.searchIcon{
    width: 1.5625vw;
    height: 2.777vh;
    margin-top: 1.388888889vh;
    margin-bottom:1.388888889vh ;
    margin-left: 0.729166667vw;
    border: 1px solid red;
    }

.searchInput input{
    width: 4.84375vw;
    display: inline-block;

}
