.filterArea{
    margin-left: 12.25vw; 
    width: 17.60vw ;
    height: auto ;
    margin-top: 3.73vh;
    display: inline-block;
    vertical-align: top;
}

.mapSection{
    width: 17.69vw ;
    border: 1px solid #D9D9D9;
    height: auto;
    border-radius: 10px;
}

.mapImage{
    height: auto ;
    width: 17.69vw ; 
}

.mapSectionParagraph{
    margin-top:1.296296296vh ;
    margin-bottom: 1.759259259vh; 
    color: #006E5E;
    font-size: 87.5%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.hotelList{
    width: 54.86vw;
    /* background-color: blue; */
    display: inline-block ;
    margin-left: 1.01vw ;
    margin-top: 3.888888889vh ;   
    margin-right: 12.25vw ;
}

.compareProperties{

    margin-top: 1.85vh;
    border: 1px solid #D9D9D9;
    width: 17.96vw;
    display: flex;
    align-items: center;
    height: 5.55vh;
    border-radius: 9.25vh ;
    /* text-align: center;
    align-content: center; */

}

.compareProperties  div p{

    color: #424242 ;
    font-size: 87.5% ;
    font-style: normal;
    font-weight: 400 ;
    line-height: normal ;
    /* display: inline-block ; */
    /* margin-top: 3.666% ;
    margin-bottom: 3.5% ;  */


        /* align-content: center; */
        /* justify-content: center; */
        /* align-items: center; */
        /* align-content: center; */
        /* align-items: center; */

    border: 1px solid red ;
    margin-left: 4.637681159% ;
    height: 28.33% ;
    width: 38.7%;
}

.switch{

    position: relative ;
    display: inline-block ;
    width: 17.401304348% ;
    height: 43.33% ;
    top: 3.33% ;
    /* left: 15.913043478% ; */
    left: 33.913043478%;
    right : 5.507246377% ;
    /* border: 1px solid red ;  */

}

/* @media (min-width:987px){

    .switch{
        left: 3%;

    }

}

@media (min-width: 1350px  ){

    .switch{
        left: 15%  ;
    }

}

@media (min-width:1600px){
    .switch{
        left:22.5%;
    }
}


@media (min-width:1920px){
    .switch{
        left: 33.91% ;
    }
} */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute ;
    cursor: pointer;
    transition: .4s ;
    background-color: orange;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slider:before{
    background-color: white;
    bottom: 3.33% ;
    top: 11.76% ;
    left: 6.66% ;
    right: 6.66%;
    bottom: 11.76%;
    width: 43.5% ;
    height: 76.47% ;
    /* right: %; */
    content : '' ;
    position: absolute ;
    transition: .4s;
    /* border: 1px solid red; */
}

input:checked + .slider{
    background-color: orange;
}

input:focus + .slider{
    box-shadow: 0 0 1px lightblue;
}

input:checked + .slider:before{
    transform: translateX(100%);
}

.slider, .round{
    border-radius: 25px;
}

.slider, .round:before{
    border-radius: 25px;
}

.searchText{
    font-size: 150%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 2.77vh;
    /* border: 1px solid red; */
}

.searchInput{
    border: 1px solid #D9D9D9;
    border-radius: 0.92vh;
    width: 17.96875vw;
    height: 5.55vh;
    position: relative;
}

.searchIcon{
    width: 1.5625vw;
    height: 2.777vh;
    top: 1.388888889vh;
    bottom:1.388888889vh ;
    left: 0.729166667vw;
    /* border: 1px solid red; */
    position: absolute;    
}

.searchInput input{

    position: absolute ;
    width: 84.35% ;
    height: 100% ;
    /* min-width: 100%; */
    /* field-sizing: content; */
    display: inline-block ;
    color: #424242 ;
    font-style: normal ;
    font-weight: 400;
    line-height: normal ; 
    /* border: 1px solid orange; */
    left: 15.65%;
    /* top: 35%;
    bottom: 33.33%; */
    border: none ;
}

.searchInput input:focus {
    outline: none;
}

.searchInput input::placeholder{
    font-size: 100% ;
    width: fit-content ;
}