.filterArea {
    margin-left: 11.07vw;
    width: 17.60vw;
    height: auto;
    margin-top: 3.73vh;
    display: inline-block;
    vertical-align: top;
}

.mapSection {
    width: 17.69vw;
    border: 1px solid #D9D9D9;
    height: auto;
    border-radius: 10px;
}

.mapImage {
    height: auto;
    width: 17.69vw;
}

.mapParagraph {
    margin-top: 1.296296296vh;
    margin-bottom: 1.759259259vh;
    color: #006E5E;
    font-size: 87.5%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.compareProperties {

    margin-top: 1.851851852vh;
    border: 1px solid #D9D9D9;
    width: 17.96875vw;
    display: flex;
    align-items: center;
    height: 5.555555556vh;
    border-radius: 5.208333333vw/9.259259259vh;

}

.compareProperties p {

    color: #424242;
    font-size: 87.5%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 4.517681159%;
    width: 38.91%;
}

.switch {

    position: relative;
    display: inline-block;
    width: 17.391304348%;
    height: 43.33%;
    top: 3.33%;
    margin-left: 33.793043478%;
    margin-right: 5.387246377%;
    border-radius: 43.33%;
}

.switch input {

    opacity: 0;
    width: 0;
    height: 0;

}

input:checked+.slider {
    background-color: orange;
}

input:focus+.slider {
    box-shadow: 0 0 1px lightblue;
}

input:checked+.slider:before {
    transform: translateX(100%);
}

.slider {
    position: absolute;
    cursor: pointer;
    transition: .4s;
    background-color: orange;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50% / 100%;
}

.slider:before {
    background-color: white;
    bottom: 3.33%;
    top: 11.76%;
    left: 6.66%;
    right: 6.66%;
    bottom: 11.76%;
    width: 43.33%;
    height: 76.47%;
    content: '';
    position: absolute;
    transition: .4s;
    border-radius: 50%;
}

.searchText {
    font-size: 150%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 2.2777777778vh;
    color: #424242;
}

.searchInput {
    border: 1px solid #D9D9D9;
    border-radius: 0.520833333vw/0.92vh;
    width: 17.96875vw;
    height: 5.555555556vh;
    position: relative;
    top: 1.296296296vh;
}


.searchIcon {
    width: 8.695652174%;
    height: 50%;
    top: 25%;
    bottom: 25%;
    left: 4.057971014%;
    position: absolute;
}

.searchInput input {

    position: absolute;
    width: 83%;
    height: 100%;
    display: inline-block;
    color: #424242;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 15.652173913%;
    border: none;
}

.searchInput input:focus {
    outline: none;
}

.searchInput input::placeholder {
    font-size: 100%;
}

.hotelList {
    width: 55.989583333vw;
    display: inline-block;
    margin-left: 1.01vw;
    margin-top: 3.888888889vh;
    margin-right: 11.07vw;
}

.filterSection {
    margin-top: 4.62962963vh;
}

.mainHeading {
    color: #424242;
    font-size: 150%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hr {
    margin-top: 1.203703704vh;
    background: #D9D9D9;
    width: 17.96875vw;
    height: 0.092592593vh;
}

/* filter by menu */

.popularFilters {
    margin-top: 2.5vh;
    font-size: 112.5%;
    color: #424242;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form  {
    margin-top: 1.666666667vh ;
    display: flex;
    flex-direction: column;
}

.formItem:not(:first-child) {
    margin-top:1.851851852vh;
}

.formItem{
    display: flex;
    margin-left: 1px;
    align-items: center;
    /* border: 1px solid red; */
}

.form label, .form2 label {
    margin-left: 0.520833333vw;
    color: #424242;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;   
    height:auto;
}

.form input[type="checkbox"],.form2 input[type="checkbox"]  {  
    appearance: none;
    aspect-ratio: 1/1;
    width: 1.041666667vw;
    height: 1.041666667vw;
    min-width: 16px;
    min-height: 16px;
    border: 0.078125vw solid #9E9E9E;
    border-radius: 0.260416667vw;
    display: inline-block;
    position: relative;  
} 

/* filter by section checkbox tick */

.form input[type="checkbox"]:checked::after,.form2 input[type="checkbox"]:checked::after {
    content: '✔';
    font-size: clamp( 100%,0.833333333vw,24px );
    color: #006E5E;
    position: absolute;
    background-repeat: no-repeat;
    text-align: center;
    align-content:center;
    font-weight:bolder; 
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

/*  star rating section */

.starRating {
    margin-top: 3.611111111vh;
    font-size: 112.5%;
    color: #424242;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form2{
    margin-top: 1.666666667vh;
    display: flex;
    flex-direction: column;
}

                                    /* PRICE SECTION */

/* outer box setting */

.PriceSection{
    margin-top: 2.5vh;
}

    /* main heading */

.Price{
    color: #424242;
    /* font-family: Inter; */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

    /* maximum box */

.maxBox{
    margin-left: 4.347826087%;
    border: 1px solid red;
}

    /* maximum/minimum box styling */

.minBox,.maxBox{
    margin-top: 1.851851852vh;
    width: 47.826086957%;
    height: 5.555555556vh;
    border:1px solid #D9D9D9;
    border-radius: 0.260416667vw ;
    position: relative;
    display: inline-block;
}

/* minimum/maximum box inner text(p) tag */

.min,.max{
    position: absolute;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 16px;
    left: 6.060606061%;
    top: 18.333333333%;
} 
 
/* form that displays/set minimum/maximum numbers */

.minBox form  ,.maxBox form  {
    left: 6.060606061%;
    position: absolute;
    top: 53.333333333%;
    width: 93.939393939%;
    bottom:18.333333333% ;
}   

/* to remove the up/down arrows of input type number field */

/* Chrome, Safari, Edge, Opera */
.minBox input::-webkit-outer-spin-button,
.minBox input::-webkit-inner-spin-button,
.maxBox input::-webkit-outer-spin-button,
.maxBox input::-webkit-inner-spin-button{
  -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
.minBox input[type=number] ,.maxBox input[type=number]  {
  -moz-appearance: textfield;
}

/*  minimum feiled styling */

.minBox input ,.maxBox input {
    width:81.818181818%;
    font-weight: bold;
    border: 0px solid;
    font-size: 16px;
    background-color: transparent;
    color: #424242;
}

/* to remove borders onclick on input field  */

.minBox input:focus  ,.maxBox input:focus  {
    border: 0px solid;
    outline: none;
}

/* input field placeholder styling */

.minBox input::placeholder,.maxBox input::placeholder     {
    /* color: black; */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* labels for input field */

.minBox label ,.maxBox label{
    color: #424242;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

                                    /* Guest Rating Section */

/* outer box */

.guestRating{
    margin-top:4.62962963vh ;
}

/* heading */

.guestRating .mainHeading{
    color: #424242;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
 

/* form input */

.guestRating .form input[type="radio"]{
    appearance: none;
    accent-color:#006E5E;
    width: 1.041666667vw;
    height: 1.041666667vw;
    min-width: 16px;
    min-height:16px ;
    /* border: 1.5px solid #9E9E9E; */
    border-radius: 100px;
    border: 1.5px solid #9E9E9E;
    position: relative;
}

/* radio button fill styling */

.guestRating .form input[type="radio"]::after {
    content: "" ;
    width: 50% ;
    height: 50% ;
    background-color: #006E5E;
    border-radius: 50%;
    position: absolute;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%, -50%) scale(0) ;
}

/* after checked action */

.guestRating .form input[type="radio"]:checked::after {
    transform: translate(-50%, -50%) scale(1);
}


                                   /* Neighbourhood Section */

/* outer box */

.neighbourhoodSection{
    margin-top:2.685185185vh ;
    margin-bottom: 4.537037037vh;
}

/* heading */

.neighbourhoodSection .mainHeading{
    color: #424242;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
 
/* form input */

.neighbourhoodSection form{
    margin-top: 1.759259259vh;
}


.neighbourhoodSection .form input[type="radio"]{
    appearance: none;
    accent-color:#006E5E;
    width: 1.041666667vw;
    height: 1.041666667vw;
    min-width: 16px;
    min-height:16px ;
    border-radius: 100px;
    border: 1.5px solid #9E9E9E;
    position: relative;
}

/* radio button fill styling */

.neighbourhoodSection .form input[type="radio"]::after {
    content: "" ;
    width: 50% ;
    height: 50% ;
    background-color: #006E5E;
    border-radius: 50%;
    position: absolute;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%, -50%) scale(0) ;
}

/* after checked action */

.neighbourhoodSection .form input[type="radio"]:checked::after {
    transform: translate(-50%, -50%) scale(1);
}

                            /* hotel list info section. */

    .hotelList .InfoPane{
        /* border: 1px solid green; */
        height: 5.555555556vh;
        display: flex;
        justify-content: space-between;
    }

        .hotelList .InfoPane .textArea{
            /* border: 1px solid red; */
            width: fit-content;
            height: 5.555555556vh;
        }

            .hotelList .InfoPane .textArea p:nth-child(1){
                color: #424242;
                font-size: 2.222222222vmin;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                width: fit-content;
            }

            .hotelList .InfoPane .textArea p:nth-child(2) {
                color: #FEBE43;
                font-size: 1.481481481vmin;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 0.37037037vh;
                width: fit-content;
            }

    .hotelList .InfoPane .button{
        width: 15.625vw;
        height: 5.555555556vh;
        border: 1px solid #D9D9D9;
        border-radius: 0.925925926vmin;
        align-items: center;
        align-self: center;
        align-content: center;
        justify-content: center;
    }

        .hotelList .InfoPane .button p:nth-child(1){
            /* position: absolute; */
            color: #9E9E9E;
            font-size: 1.388888889vmin;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: fit-content;
            height: 30%;
            margin-left: 5%;
        }

        .hotelList .InfoPane .button p:nth-child(2){
            color: #424242;
            font-size: 1.388888889vmin;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: fit-content;
            height: 30%;
            line-height: normal;
            bottom: 16.666666667%;
            margin-left: 5%;
        }

.hotelList .signInAlertBox{

    margin-top: 2.777777778vh ;
    width: 100% ;
    background-color: #FEBE43 ;
    height: 7.407407407vh;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    align-items: center;
    justify-content: space-between;
    border-radius: 0.925925926vmin;    
}

    /* .signInAlertBox .textMessageBox{
        width: fit-content;
        height: fit-content;
    } */

    .signInAlertBox .textMessage {  
        color: #FFF;
        font-size: 1.851851852vmin;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        /* border: 1px solid white;  */
        width: fit-content;
        height: fit-content;
        margin-left: 1.860465116%;
        /* float: left; */
        /* height: 40px; */
        /* align-content: center; */
    } 

    .signInAlertBox .signInButton{
        background: #006E5E;
        width: 8.372093023%;
        height: 50%;
        border-radius: 9.259259259vmin;
        display: flex;
        /* position: relative; */
        align-items: center;  /* Centers items vertically */
        justify-content: center;
        /* float: right; */
        margin-right: 1.674418605%;
        /* display: inline-block; */
    }

    /* 46.666666667 */

        /* width : 46.666666667% ; */
        .signInAlertBox .signInButton .textBox{
            /* border: 0.092592593px solid white ; */
            /* width : 46.666666667% ; */
/* width: 42px; */
            /* height: 40% ;  */
        }
            .signInAlertBox .signInButton p{
                color: #FFF;
                /* text-align: right; */
                font-size: 1.203703704vmin;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                height: auto;
                /* border: 0.092592593px solid white; */
            }

        .signInAlertBox .signInButton .iconBox{
            width: 1.5625vmax;
            height: auto;
        }

            .signInAlertBox .signInButton svg{
                width: 100%;
                height: 100%;
                /* width: 1.5625vmax; */
                /* height: auto; */
                /* position: absolute; */
                /* left: 61.111111111%; */
                /* top: 12.5%; */
                /* right: 5.555555556%; */
            }


                                /* hotel Display Section */

.hotelOne{
    margin-top: 2.777777778vh ;
    border-radius: 0.925925926vmin ;
    border: 0.092592593vh solid #D9D9D9 ;
    height: 23.333333333vh ;
    width: 56.09375vw ;
}

    .imageContainer{
        position: relative;
        /* border: 1px solid red; */
        width: 32.093023256%;
        height: 23.148148148vh;
        float: left;
    }

        .hotelPhoto {
            position: absolute;
            width: 17.96875vw;
            height: 100%;
            border-radius: 0.925925926vh 0px 0px 0.925925926vh;
        }

        .svgContainer{
            position: relative;
            /* position: absolute; */
            /* border: 1px solid purple; */
            /* right:    2.898550725%; */
            right: 10%;
            top: 4%;
            left: 86.956521739%;
            width: 1.822916667vw;
            height: 1.822916667vw;
        }

            .imageContainer svg:nth-child(1){
                fill: rgba(255, 255, 255, 0.80);
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .imageContainer svg:nth-child(2){
                fill: #006E5E;
                position: absolute;
                width: 24px;
                height: 24px;
                top: 20%;
                left: 14.285714286%;    
                width: 1.25vw;
                height: 1.25vw;
            }

    .hotelOne .hotelInfo {
        font-size: 1.851851852px;
        /* position: absolute; */
        position: relative;
        width: 67.906976744%;
        height: 23.148148148vh;
        float: right;
    }  

        .hotelOne .hotelInfo .hotelName{
            color: #424242;
            position: absolute;
            top:12%;
            left: 2.739726027%;
            width: fit-content;
            font-size: 1.851851852vmin ;
            line-height: normal;
            font-style: normal;
            font-weight: 600;
        }

        .hotelOne .hotelInfo .location{
            position: absolute;
            color: #424242;
            left: 2.739726027%;
            font-size: 1.666666667vmin;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: fit-content;
            /* border: 1px solid red; */
            top: 23.6%;
        }

    .hotelOne .hotelInfo  .icon{
        position: absolute;
        display: inline-block;
        top: 36.8%;
        margin-left: 2.739726027% ;
        height: 9.6%; 
        width: auto;
    }

    .hotelOne .hotelInfo  .text{
        position: absolute;
        color: #424242;
        font-size: 1.481481481vmin;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        top: 37.6%;
        margin-left: 6.98630137%;
        /* border: 1px solid red; */
        /* left:2.65625vw ; */
        /* left: 4.722222222vmin; */
    }

    .hotelOne .hotelInfo .roomType {
        position: absolute;
        color: #424242;
        font-size: 1.203703704vmin;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        top: 52.4%;
        margin-left: 2.739726027%;
    }

    .hotelOne .hotelInfo .bedTypes{
        position: absolute;
        color: #424242;
        font-size: 1.111111111vmin;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        top: 58.8%;
        left: 2.739726027%;
    }

    .hotelOne .hotelInfo .impPoints {
        position: absolute;
        top: 69.6%;
        color: #FEBE43;
        font-size: 1.111111111vmin;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        left: 3.698630137%;
        list-style-position: inside;
        /* border: 1px solid green; */
    }

    .ratingComment {
        position: absolute;
        color: #424242;
        font-size: 1.203703704vmin;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        /* left: 85.890410959%; */
        right: 9.452054795%;
        top: 9.2%;
    }

    .totalReviews{
        position: absolute;
        font-size: 1.018518519vmin;
        color: #424242;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        right: 8.904109589%;
        top:15.2% ;
    }

    .ratingBox{
        position: absolute;
        background: #006E5E;
        height:14% ;
        left: 92.465753425%;
        top: 8%;
        aspect-ratio: 1 / 1;
        /* border: 1px solid red; */
        /* padding-top: 100%; */
        border-radius: 22.857142857% 22.857142857% 22.857142857% 0%;
    }

        .totalRating{
            position: absolute ;
            color: #FFF3F3 ;
            text-align: center ;
            font-size: 1.481481481vmin ;
            font-style: normal ;
            font-weight: 600 ;
            line-height: normal ;
            top: 25.714285714% ;
            left: 20% ;
        }

    .stayerType{

        position: absolute;
        color: #424242;
        font-style: normal;
        right: 2.739726027%;
        bottom: 30%;
        font-weight: 400;
        line-height: normal;
        font-size: 1.203703704vmin;
        /* height: fit-content; */
        
    }

    .charges{
        position: absolute;
        color: #424242;
        font-style: normal;
        right: 2.739726027%;
        bottom: 18.4%;
        font-size: 2.222222222vmin;
        font-weight: 600;
        line-height: normal;
        /* height: fit-content; */
        /* margin-top: 0px; */
        /* top: 73.2%; */
        /* right: 8.904109589%; */
    }

    .additionalSurcharge{

        position: absolute;
        color: #424242;
        font-style: normal;
        right: 2.739726027%;
        bottom:10.4% ;
        font-size: 1.203703704vmin;
        font-weight: 400;
        line-height: 1.851851852vmin;
    }

.hotelOne ~.hotelOne{   

    margin-top: 1.851851852vh;
}

/* filter and sort buttons hided on mobile */

@media (min-width:600px){
    .filterBoxMobile,.sortByRecommended{
        display: none;
    }
}

@media (max-width:600px) {


    /* chnaged code for filter area mobile*/
    .filterArea{
        width: 100%;
        margin-left: 0px;
        padding-bottom: 0px;
        height: 35px;
        margin-top: 18px;
    }
    
    /* Hiding some properties for display mobile display */

    .compareProperties,
    .mapSection,
    .searchInput,
    .searchText,
    .mainHeading,
    .hr,.filterSection
    {
        display: none;
    }

    /* mobile filter menu */

    .filterBoxMobile{
        border: 0.5px solid #D9D9D9 ;
        width: 17.27vw ;
        height: 35px ;
        position: relative ;
        margin-left: 4.54vw ;
        display: inline-block ;
        border-radius: 5px ;
    }

    /* filter menu icon */

    .filterBoxMobile svg{
        position: absolute;
        width: 31.578947368%;
        height: 68.571428571%;
        left: 9.210526316%;
        top: 14.285714286%;
        bottom: 14.285714286%;
    }

    /* filter menu text */

    .filterBoxMobile p{
        position: absolute;
        color: #424242;
        right:14.473684211% ;
        top: 27.571428571%;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        left: 48.67%;
    }

    /* sort section */

    .sortByRecommended {
        width:31.81vw ;
        margin-left: 41.81vw ;
        margin-right:3.54vw ;
        height: 35px ;
        border: 0.5px solid #D9D9D9 ;
        display: inline-block ;
        border-radius: 5px ;
        position: relative ;
    }

    /* sort section text */

    .sortByRecommended p:nth-child(2){
        position: absolute;
        color: #424242;
        top: 45.714285714%;
    }

    /* sort recommended text */

    .sortByRecommended p{
        position: absolute;
        color: #9E9E9E;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 30%;
        left:6.428571429%;
        top: 8.571428571%;
        height: 14px;
    }

    /* sort drop down icon */

    .sortByRecommended svg{
        right: 3.571428571%;
        position: absolute;
        top: 28.571428571%;
        width: 12.142857143%;   
        height: auto;
    }

    .hotelList {
        width: 100%;
        display: block;
        margin-left: 0;
        margin-top: 24px;
        margin-right: 0;
        height: auto;
    }

    .hotelList .InfoPane .button{
        display: none;
    }


    .hotelList .InfoPane{
        /* border  : 1px solid red; */
        width:100% ;
        height: auto;
    }

    .hotelList .InfoPane .textArea{
        /* width: fit-content; */
        height: auto;
        /* border: 1px solid red; */
        margin-left: auto;
        margin-right: auto;
    }

    .hotelList .InfoPane .textArea p:nth-child(1){

        font-size: 3.636363636vw; 
        text-align: center;
        width: 100%;
        /* border: 1px solid green; */
        /* margin-right: auto; */
    }

    .hotelList .InfoPane .textArea p:nth-child(2){
        /* border: 1px solid green; */
        font-size: 3.181818182vw; 
        /* border: 1px solid red; */
        text-align: center;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .hotelList .signInAlertBox{
        display: none;
    }

    .hotelOne{
        margin-top: 22px ;
        border-radius: 0 ;
        border: 0 ;
        width: 90.909090909vw ;
        height: 300px ;
        /* border: 0.227272727vw solid gray  ; */
        border-radius: 2.5%;
        margin-left: 4.318181818vw;
        margin-right: 4.318181818vw;
    }

        .imageContainer{
            position: relative;
            /* border-right: 1px solid red; */
            width: 45%;
            height: 300px;
            float: left;
        }

            .hotelPhoto{
                position: absolute;
                width: 40.909090909vw;
                height: 300px;
                border-radius: 2.272727273vmin  0 0 2.272727273vmin;
                object-fit: cover;
            }

            .svgContainer{
                position: relative;
                /* right: 6.666666667%; */
                top: 10px;
                left: 73.888888889%;
                width: 7.954545455vw;
                /* height: 35px; */
                height: 7.954545455vw;
                /* border: 1px solid orange; */
            }

                .imageContainer svg:nth-child(2){
                    fill: #006E5E;
                    position: absolute;
                    width: 5.454545455vw;
                    height: 5.454545455vw ;
                    top: 20%;
                    left: 14.285714286%;    
                }

    .hotelOne .hotelInfo {
        /* position: absolute; */
        position: relative;
        width: 55%;
        height: 300px;
        float: right;
        /* border: 0.000925926vmin solid gray ; */
        border-top: 0.000925926vmin solid gray;
        border-bottom: 0.000925926vmin solid gray;
        border-right: 0.000925926vmin solid gray;
        border-radius: 0 2.272727273vmin 2.272727273vmin 0 ;
    } 

        .hotelOne .hotelInfo .hotelName{
         
            color: #424242;
            position: absolute;
            top:20px ;
            left: 5.454545455% ;
            width: fit-content;
            font-size: 3.636363636vw ;
            line-height: normal;
            font-style: normal;
            font-weight: 600;
            /* border: 1px solid orange; */
        }

        .hotelOne .hotelInfo .location{
            position: absolute;
            color: #424242;
            left: 5.454545455%;
            font-size: 3.636363636vw ;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: fit-content;
            /* border: 1px solid red; */
            top: 15%;
        }

    .hotelOne .hotelInfo  .icon{
        position: absolute;
        display: inline-block;
        top: 24.666666667%;
        margin-left: 5.454545455% ;
        width: 10.909090909%;
        height: auto; 
    }

    .hotelOne .hotelInfo  .text{
        position: absolute;
        color: #424242;
        font-size: 3.409090909vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        top: 25.666666667%;
        margin-left: 18.695652174%;
        /* border: 1px solid red; */
        /* left:2.65625vw ; */
        /* left: 4.722222222vmin; */
    }

    .hotelOne .hotelInfo .roomType{
        position: absolute;
        color: #424242;
        font-size: 2.954545455vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        top: 35.666666667%;
        margin-left: 5.454545455% ;
    }

    .hotelOne .hotelInfo .bedTypes{
        position: absolute;
        color: #424242;
        font-size: 2.727272727vw;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        top: 41%;
        left: 5.454545455% ;
    }

    .hotelOne .hotelInfo .impPoints {
        position: absolute;
        top: 47.666666667%;
        color: #FEBE43;
        font-size: 2.272727273vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        left: 8.636363636%;
        list-style-position: inside;
    }

    .ratingComment{
        position: absolute;
        color: #424242;
        font-size: 2.727272727vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        /* left: 85.890410959%; */
        right: 25.454545455%;
        top: 64%;
    }

    .totalReviews{

        position: absolute;
        font-size: 2.272727273vw;
        color: #424242;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        right: 25.454545455%;
        top: 68.666666667% ;

    }

    .ratingBox{
        position: absolute;
        background: #006E5E;
        width: 6.818181818vw;
        height: auto;

        /* right: 7.272727273% ; */
        left: 79.090909091%;
        top: 63%;
        aspect-ratio: 1 / 1;
        /* border: 1px solid red; */
        /* padding-top: 100%; */
        border-radius: 26.666666667% 26.666666667% 26.666666667% 0%;
    }

        .totalRating{
            position: absolute ;
            color: #FFF3F3 ;
            text-align: center ;
            font-size: 3.181818182vw ;
            font-style: normal ;
            font-weight: 600 ;
            line-height: normal ;
            top: 20% ;
            left: 20% ;
            /* border: 1px solid white; */
            height: 56.666666667%;
            width: 63.333333333%;
        }
    
        .stayerType{

            position: absolute ;
            color: #424242 ;
            font-style: normal ;
            right: 6.363636364% ;
            font-weight: 400 ;
            line-height: normal ;
            font-size: 2.5vw;
            top: 76.333333333% ;

        }
    
        .charges{

            position: absolute;
            color: #424242;
            font-style: normal;
            right: 6.363636364% ;
            top: 80.666666667%;
            font-size: 4.545454545vw;
            font-weight: 600;
            line-height: normal;

        }

        .additionalSurcharge{

            right: 6.363636364% ;
            /* top: 89.666666667%; */
            font-size: 2.5vw;
            bottom: auto;
            top: 89.666666667%;
            line-height: normal;

        }

}
