body {
  background: #FFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --checkbox-border-color: red;
  --checkbox-checked-color: #274c77;
  --checkbox-hover-color: #a3cef1;
  --checkbox-disabled-bg-color: #d9d9d9;
}

#original-range{
  margin-top:1.388888889vh ;
}

.title {
  user-select: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  width: 17.69vw;
}

#original-range .range-slider__range{
  background-color: #006E5E;
}

#original-range .range-slider__thumb{
  background-color: #006E5E;
}

.range-slider {
  width: 280px;
  /* border: 1px solid orange; */
  /* margin-top: 3.333333333vh; */
  /* margin: 24px auto 0; */
}